@import 'style.css';

html {
	background-color: #C69134;
	color: white;
}

main {
	width: 90%;
	padding: 20px;
}

header a {
	color: white;
}

.me {
	width: 350px;
	height: auto;
	margin: 100px 200px;
}

.contact {
	width: 500px;
	height: auto;
	margin: 70px 450px;
}

.heading {
	font-size: 100px;
	margin: -500px 450px;
}

.content {
	font-size: 65px;
	margin: -500px 0px 0px 460px;
	width: 580px;
}

.email {
	font-size: 50px;
	margin: -150px 0px 0px 270px;
	width: 420px;
	font-style: italic;
}